# K6 Configuration
K6_INFLUXDB_URL=http://influxdb:8086
K6_INFLUXDB_DB=k6

# Mock Server
MOCK_SERVER_URL=http://mock-server:3001

# Environment
NODE_ENV=development


# K6 Runner
K6_RUNNER_TEST_START_URL=http://k6-runner:3002/api/test/start
K6_RUNEER_TEST_STATUS_URL=http://k6-runner:3002/api/test/status
k6_RUNNER_TEST_STOP_URL=http://k6-runner:3002/api/test/stop


# K6 DashBoard
K6_DASHBOARD_URL=http://localhost:5665
