# K6 Runner Configuration
PORT=3002

# InfluxDB Configuration
INFLUXDB_URL=http://influxdb:8086/k6

# Mock Server
MOCK_SERVER_URL=http://mock-server:3001

# Environment
NODE_ENV=development

# K6 Dashboard Configuration
K6_WEB_DASHBOARD=true
K6_WEB_DASHBOARD_HOST=0.0.0.0
K6_WEB_DASHBOARD_PORT=5665
K6_WEB_DASHBOARD_PERIOD=1s